<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm :product="selectedItem" ref="productForm" @save="saveProduct"></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(price) = "{ item }">฿{{ item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</template>
            <template #cell(operators) = "{ item }">
              <button @click="editProduct(item)">แก้ไข</button>
              <button class="ml-1" variant="primary" @click="deleteProduct(item)">ลบ</button>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000, // 3000 = 3วินาที
        appendToast: append
      })
    },
    saveProduct (product) { // ข้อมูลก็คือ product
      console.log('submit', product)
      if (product._id === '') { // Add new
        axios.post('http://localhost:3000/products', product).then( // ถ้า success ก็จบ
          function (response) {
            const newProduct = response.data // ส่วนนี้คือสิ่งที่คืนกลับมา
            console.log(response)
            this.getProducts() // ถ้ามันจบก็โหลดดูมาใหม่
            this.makeToast('เพิ่มสำเร็จ', 'สินค้า ' + newProduct._id + ' ถูกเพิ่มแล้ว') // เอา newPorduct มาใช้
          }.bind(this)
        ).catch(() => {
          this.makeToast('เพิ่มไม่สำเร็จ', 'ไม่สามารถเพิ่ม ' + product._id, 'danger') // เพิ่ม product ไม่ได้
        })
      } else { // Update
        axios.put('http://localhost:3000/products/' + product._id, product).then( // ถ้า success ก็จบ
          function (response) {
            const updateProduct = response.data
            this.getProducts() // ถ้ามันจบก็โหลดดูมาใหม่
            this.makeToast('ปรับปรุงสำเร็จ', 'สินค้า ' + updateProduct._id + ' ถูกแก้ไขแล้ว') // เอา updatePorduct มาใช้
          }.bind(this)
        ).catch(() => {
          this.makeToast('ปรับปรุงไม่สำเร็จ', 'ไม่สามารถปรับปรุง ' + product._id, 'danger') // แก้ไข product ที่ไม่มีอยู่
        })
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      console.log(product)
      if (confirm(`คุณต้องการจะลบสินค้า ${product._id} หรือไม่`)) {
        axios.delete('http://localhost:3000/products/' + product._id).then(// ถ้าสำเร็จก็ให้ไป refresh ใหม่
          function (response) {
            this.getProducts()
            this.makeToast('ลบสำเร็จ', 'สินค้า ' + product._id + ' ถูกลบแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ลบไม่สำเร็จ', 'ไม่สามารถลบ ' + product._id, 'danger') // ลบ product ที่ไม่มีอยู่
        })
      }
    },
    addNew (item) {

    },
    getProducts () {
      axios.get('http://localhost:3000/products').then(function (response) { // ถ้า get ได้แล้วให้ Then กลับมา
        console.log(response)
        this.productItems = response.data
      }.bind(this))
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }],
      productItems: [
      ],
      selectedItem: null
    }
  },
  mounted () { // จะถูกเรียกทุกครั้งตอนเอาตัว component มาใส่ทุกตัว
    this.getProducts() // เอามาจาก methods getProducts()
  }
}
</script>
<style>

</style>
